body{
    padding:100px;

}
.submit-area{
    margin-top: 50px;
    padding:45px 45px;
    box-shadow: 5px 6px 10px black;
    border-radius: 10px;
}
#transaction{
    display:none;
}
.deposit{
    background-color: slateblue;
}
.withdrow{
    background-color: salmon;
}
.balence{
    background-color: orange;
}
.status{
    margin: 0 20px;
    padding: 20px 20px;
    border-radius: 10px;
}